.container {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    flex-direction: column;
    gap: 15px;
}

.input {
    font-size: 24px;
    padding: 5px;
    box-shadow: 5px 5px 3px #0202023b;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;

}

.btn{
    padding: 10px;
    width: 60px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: ghostwhite;
    
}

p {
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.input-wrapper {
    text-align: center;
}